
<footer class="footer-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Hakkımızda</h6>
                    <p>
                        Bu blog sayfası, teknoloji, seyahat, yemek tarifleri ve gündelik hayata dair ilham verici içerikler sunmak için oluşturulmuştur. Tutkulu yazarlarımızın kaleminden çıkan yazılarla bilgiye ve keyifli içeriklere ulaşın!
                    </p>
                </div>
            </div>
            <div class="col-lg-4  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Abone Ol</h6>
                    <p>En yeni içeriklerimizden haberdar olmak için abone olun!</p>
                    <div class="" id="mc_embed_signup">

                        <form target="_blank" novalidate="true" action="#"
                              method="post" class="form-inline">

                            <div class="d-flex flex-row">

                                <input class="form-control" value="Email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '"
                                       required="" type="email">


                                <button class="click-btn btn btn-default"><span class="lnr lnr-arrow-right"></span></button>
                                <div style="position: absolute; left: -5000px;">
                                    <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget mail-chimp">
                    <h6 class="mb-20">Instragram Akışı</h6>
                    <ul class="instafeed d-flex flex-wrap">
                        <li><img src="/sensive-master/img/instagram/i1.jpg" alt=""></li>
                        <li><img src="/sensive-master/img/instagram/i2.jpg" alt=""></li>
                        <li><img src="/sensive-master/img/instagram/i3.jpg" alt=""></li>
                        <li><img src="/sensive-master/img/instagram/i4.jpg" alt=""></li>
                        <li><img src="/sensive-master/img/instagram/i5.jpg" alt=""></li>
                        <li><img src="/sensive-master/img/instagram/i6.jpg" alt=""></li>
                        <li><img src="/sensive-master/img/instagram/i7.jpg" alt=""></li>
                        <li><img src="/sensive-master/img/instagram/i8.jpg" alt=""></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Bizi Takip Edin</h6>
                    <p>Sosyal medyada bizi bulun</p>
                    <div class="footer-social d-flex align-items-center">
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-dribbble"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-behance"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
            <p class="footer-text m-0">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>
    </div>
</footer>