@model Category
@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Areas/Author/Views/Shared/_AuthorLayout.cshtml";
}

<div class="container mt-5">
    <div class="form-container">
        <form method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Kategori Ekle</label>
                <input type="text" style="width:300px" class="form-control" asp-for="CategoryName" placeholder="Kategoriyi giriniz.">
            </div>
            <button type="submit" class="btn btn-primary">Ekle</button>
        </form>
    </div>
</div>

