@model Article

<div style="border: 2px dashed gray; padding: 10px;">
    <h2>eklenen son blog</h2>
    <img src="@Model.CoverImageUrl" style="width:250px; height:120px;" />
    <br />
    <h1>@Model.Title</h1>
    <a href="#" class="btn btn-warning">Bu Makaleyi Okuyun</a>
</div>