@model Article

@* <div style="border: 2px dashed gray; padding:10px;">
    <h2>Son Eklenen Blog</h2>
    <img src="@Model.CoverImageUrl" style="width:200px; height:120px;" alt="" />
    <h3>@Model.Title</h3>
    <a href="#" class="btn btn-warning">Bu Makaleyi Okuyun</a>
</div> *@